// GameAction (

//     Primary,
//     Secondary,
//     Up,
//     Down,
//     Left,
//     Right,
//     Jump,
// )

GameConfig(
        
    // mouse_sensitivity: 1.4,
    //Key = bevy::input::keyboard::KeyCode;
    //Scan = bevy::input::keyboard::ScanCode;
    //Mouse = bevy::input::mouse::MouseButton;
    //Gamepad = bevy::input::gamepad::GamepadButtonType;

    key_bindings: {
        Key::Down: Up,
        Key::Up: Down,
        Key::Right: Left,
        Key::Left: Right,


    },
    gamepad_bindings: {
        
    }
)

